// Flask flash messages
.flashes {

  // Single flash message
  .flash {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    &.success {
      background-color: #d4edda;
      color: #155724;
    }

    &.warning {
      background-color: #fff3cd;
      color: #856404;
    }

    &.error {
      background-color: #f8d7da;
      color: #721c24;
    }
  }
}

// Small display fixes
ul#mode {
  list-style-type: none;

  li {
    list-style: none;
  }
}
