// Flask flash messages
.flashes {

  // Single flash message
  .flash {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    &.success {
      background-color: #d4edda;
      color: #155724;
    }

    &.warning {
      background-color: #fff3cd;
      color: #856404;
    }

    &.error {
      background-color: #f8d7da;
      color: #721c24;
    }
  }
}

// Small display fixes
ul#mode {
  list-style-type: none;

  li {
    list-style: none;
  }
}

// Buttons
// Red button variant
a[role="button"], button {
  &.danger {
    --pico-background-color: red;
    --pico-border-color: red;

    &:hover, &.active, &:focus {
      --pico-background-color: crimson !important;
      --pico-border-color: crimson !important;
    }

    &.outline {
      --pico-background-color: transparent;
      --pico-color: red;
      --pico-border-color: red;

      &:hover, &.active, &:focus {
        --pico-background-color: transparent !important;
        --pico-color: crimson !important;
        --pico-border-color: crimson !important;
      }
    }
  }
}
