// Import Pico CSS framework with custom theme color
@use "pico" with ($theme-color: "amber"
);

/*********************************
 * Custom styles for CastMail2List
 ********************************/
// Flask flash messages
.flashes {

  // Single flash message
  .flash {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    &.message {
      background-color: #bebebe;
      color: #3a3a3a;
    }

    &.success {
      background-color: #d4edda;
      color: #155724;
    }

    &.warning {
      background-color: #fff3cd;
      color: #856404;
    }

    &.error {
      background-color: #f8d7da;
      color: #721c24;
    }
  }
}

// Small display fixes
ul#mode {
  list-style-type: none;
  padding-left: 0;

  li {
    list-style: none;
  }
}

// Buttons
// Red button variant
a[role="button"], button {
  &.danger {
    --pico-background-color: red;
    --pico-border-color: red;
    --pico-color: white;

    &:hover, &.active, &:focus {
      --pico-background-color: crimson !important;
      --pico-border-color: crimson !important;
    }

    &.outline {
      --pico-background-color: transparent;
      --pico-color: red;
      --pico-border-color: red;

      &:hover, &.active, &:focus {
        --pico-background-color: transparent !important;
        --pico-color: crimson !important;
        --pico-border-color: crimson !important;
      }
    }
  }
}

// Color for theme toggle icon in navbar
i#theme-toggle::before {
  color: var(--pico-primary);
}

/* Forms */
// Only show fields that relate to the selected ML mode
details[name="mode"] {
  .mode-group, .mode-broadcast {
    display: none;
  }

  &:has(#select-mode #mode-0:checked) .mode-broadcast {
    display: block;
  }

  &:has(#select-mode #mode-1:checked) .mode-group {
    display: block;
  }
}
