{% extends "base.html" %}

{% block title %}Edit List - {{ mailing_list.name }}{% endblock %}

{% block content %}
<h2>Edit List: {{ mailing_list.name }}</h2>

{%- include "flash.html" %} {# Show flash messages #}

<a href="{{ url_for('manage_subs', list_id=mailing_list.id) }}" role="button">
    Manage Subscribers
</a>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.mode.label }}
    {{ form.mode }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.address.label }}
    {{ form.address }}

    {{ form.imap_host.label }}
    {{ form.imap_host }}

    {{ form.imap_port.label }}
    {{ form.imap_port }}

    {{ form.imap_user.label }}
    {{ form.imap_user }}

    {{ form.imap_pass.label }}
    {{ form.imap_pass(placeholder="Leave empty to not update password") }}

    {{ form.from_addr.label }}
    {{ form.from_addr }}

    {{ form.allowed_senders.label }}
    {{ form.allowed_senders(placeholder="user@example.com,another@example.com") }}
    <small>{{ form.allowed_senders.description }}</small>

    {{ form.submit }}
</form>
</div>
{% endblock %}
