{% extends "base.html" %}

{% block title %}Edit List - {{ mailing_list.name }}{% endblock %}

{% block content %}
<h2>Edit List: {{ mailing_list.name }}</h2>

<a href="{{ url_for('manage_subs', list_id=mailing_list.id) }}" role="button">
    Manage Subscribers
</a>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}
    {% if form.name.errors %}
    <div class="text-danger">
        {% for error in form.name.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.address.label }}
    {{ form.address }}
    {% if form.address.errors %}
    <div class="text-danger">
        {% for error in form.address.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.imap_host.label }}
    {{ form.imap_host }}
    {% if form.imap_host.errors %}
    <div class="text-danger">
        {% for error in form.imap_host.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.imap_port.label }}
    {{ form.imap_port }}
    {% if form.imap_port.errors %}
    <div class="text-danger">
        {% for error in form.imap_port.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.imap_user.label }}
    {{ form.imap_user }}
    {% if form.imap_user.errors %}
    <div class="text-danger">
        {% for error in form.imap_user.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.imap_pass.label }}
    {{ form.imap_pass(placeholder="Leave empty to not update password") }}
    {% if form.imap_pass.errors %}
    <div class="text-danger">
        {% for error in form.imap_pass.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.from_addr.label }}
    {{ form.from_addr }}
    {% if form.from_addr.errors %}
    <div class="text-danger">
        {% for error in form.from_addr.errors %}
        <small>{{ error }}</small>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.submit }}
</form>
</div>
{% endblock %}
