{% extends "base.html" %}

{% block title %}{{ _('Add New List') }} - CastMail2List{% endblock %}

{% block content %}
<h2>{{ _('Add a New List') }}</h2>

{%- include "flash.html" %} {# Show flash messages #}

<form method="POST">
    {{ form.csrf_token }}

    {{ form.mode.label }}
    {{ form.mode }}
    <small>{{ (form.mode.description) }}</small>

    {{ form.name.label }}
    {{ form.name }}

    {{ form.address.label }}
    {{ form.address(value="@" + config.IMAP_DEFAULT_DOMAIN) }}

    {{ form.from_addr.label }}
    {{ form.from_addr }}
    <small>{{ (form.from_addr.description) }}</small>

    <details>
        <summary>{{ _('Mode Settings') }}</summary>
        <fieldset>
            {{ form.only_subscribers_send(role="switch") }}
            {{ form.only_subscribers_send.label }}
        </fieldset>

        <fieldset>
            {{ form.allowed_senders.label }}
            {{ form.allowed_senders(placeholder=("user@example.com,another@example.com")) }}
            <small>{{ (form.allowed_senders.description) }}</small>
        </fieldset>
    </details>

    <hr />

    <details>
        <summary>{{ _('IMAP Settings') }}</summary>
        {{ form.imap_host.label }}
        {{ form.imap_host(placeholder=config.IMAP_DEFAULT_HOST) }}
        {{ form.imap_port.label }}
        {{ form.imap_port(placeholder=config.IMAP_DEFAULT_PORT) }}
        {{ form.imap_user.label }}
        {{ form.imap_user(placeholder=_("Leave empty to use list address")) }}
        {{ form.imap_pass.label }}
        {{ form.imap_pass(placeholder=_("Leave empty to use configured default")) }}
    </details>

    {{ form.submit(value=_('Save List')) }}
</form>
{% endblock %}
