{% extends "base.html" %}

{% block title %}{{ _('Lists') }} - CastMail2List{% endblock %}

{% block content %}
<h2>{{ _('Mailing Lists') }}</h2>

{%- include "flash.html" %} {# Show flash messages #}

<a href="{{ url_for('add_list') }}" role="button" class="outline">
    {{ _('Add new List') }}
</a>

{% if lists %}
<table class="striped">
    <thead>
        <tr>
            <th>{{ _('List Name') }}</th>
            <th>{{ _('List Address') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for list in lists %}
    <tr>
        <td>{{ list.name }}</td>
        <td>{{ list.address }}</td>
        <td>
            <a href="{{ url_for('edit_list', list_id=list.id) }}" role="button" class="outline">{{ _('Edit') }}</a>
            <a href="{{ url_for('manage_subs', list_id=list.id) }}" role="button" class="outline secondary">{{ _('Manage Subscribers') }} ({{ list.subscribers|length }})</a>
            <a href="{{ url_for('delete_list', list_id=list.id) }}" role="button" class="outline secondary" onclick="return confirm('{{ _('Are you sure you want to delete the list') }} {{ list.name }} <{{ list.address }}>?')">{{ _('Delete List') }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p class="text-muted">{{ _('No mailing lists configured yet.') }}</p>
{% endif %}
{% endblock %}
