{% extends "base.html" %}
{% block title %}{{ _('Message detail') }}: {{ message.subject }}{% endblock %}
{% block content %}
<h2>{{ _('Message detail') }}: {{ message.subject }}</h2>

{%- include "flash.html" %} {# Show flash messages #}
<table class="striped message">
    <tr>
        <th>{{ _('Subject') }}</th>
        <td>{{ message.subject }}</td>
    </tr>
    <tr>
        <th>{{ _('Sent At') }}</th>
        <td>{{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S UTC") }}</td>
    </tr>
    <tr>
        <th>{{ _('List') }}</th>
        <td>{{ message.list.name }} &lt;{{message.list.address}}&gt;</td>
    </tr>
    <tr>
        <th>{{ _('Successful Recipients') }}</th>
        <td>
            {%- for rec in message.sent_successful %}
            <a href="{{ url_for('subscribers.by_email', email=rec) }}">{{ rec }}</a>
            {{- ", " if not loop.last else "" }}
            {%- endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ _('Failed Recipients') }}</th>
        <td>
            {% for rec in message.sent_failed %}
            <a href="{{ url_for('subscribers.by_email', email=rec) }}">{{ rec }}</a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ _('Raw') }}</th>
        <td>
            <pre>{{ message.raw }}</pre>
        </td>
    </tr>
</table>
{% endblock %}
