{% extends "base.html" %}

{% block title %}{{ _('Subscribers') }} - {{ mailing_list.name }}{% endblock %}

{% block content %}

<h2>{{ _('Subscribers for "%(name)s"', name=mailing_list.name) }}</h2>

{%- include "flash.html" %} {# Show flash messages #}

<h3>{{ _('Add Subscriber') }}</h3>
<form method="POST">
    <fieldset class="grid">
        {{ form.csrf_token }}

        {{ form.name(placeholder=form.name.label.text) }}

        {{ form.email(placeholder=form.email.label.text) }}

        {{ form.comment(placeholder=form.comment.label.text) }}

        {{ form.submit }}
    </fieldset>
</form>

<h3>{{ _('Current Subscribers') }} ({{ mailing_list.subscribers|length }})</h3>
{% if mailing_list.subscribers %}
<table class="striped">
    <thead>
        <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Comment') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for subscriber in mailing_list.subscribers %}
        <tr>
            <td>{{ subscriber.name if subscriber.name }}</td>
            <td>
                <a href="{{ url_for('subscriber', email=subscriber.email) }}">{{ subscriber.email }}</a>
                {% if subscriber.subscriber_type == "list" %}({{ _('List') }}){% endif %}
            </td>
            <td>{{ subscriber.comment if subscriber.comment }}</td>
            <td>
                <a href="{{ url_for('lists.subscriber_edit', list_id=mailing_list.id, subscriber_id=subscriber.id) }}" role="button" class="outline">{{ _('Edit') }}</a>
                <a href="{{ url_for('lists.subscriber_delete', list_id=mailing_list.id, subscriber_id=subscriber.id) }}" role="button" class="outline danger" onclick="return confirm('{{ _('Are you sure you want to delete subscriber') }} {{ subscriber.name }} <{{ subscriber.email }}> {{ _('from this list?') }}')">{{ _('Delete') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-muted">{{ _('No subscribers yet.') }}</p>
{% endif %}
{% endblock %}
